<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <title>Main Page Template</title>
    <link rel="stylesheet" href="css/main.css">

    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

      <img src="image/logo.png">


    <nav id="nav-header">
      <div id="centered-nav-container">
        <div id="lower-nav-bar">
          <div id="lower-nav-bar-left">
            <ul>
              <li><a class="button-nav" href="#">NA (89-97)</a></li>
              <li><a class="button-nav" href="#">NB (09-05)</a></li>
              <li><a class="button-nav" href="#">NC (06-14)</a></li>
              <li><a class="button-nav" href="#">ND (15+)</a></li>           
            </ul>
          </div> <!-- ./lower-nav-bar-left -->
          <div id="lower-nav-bar-right">
            <form class="input-field">
              <input type="text" placeholder="Search Here" id="form-searchbar">
              <a class="button-nav" href="#">Search</a>
            </form>

          </div> <!-- ./lower-nav-bar-right -->
        </div> <!-- ./lower-nav-bar -->
      </div> <!-- ./centered-nav-container -->
    </nav>  

  </head>

  <body>
    <h1 class="main-header">New Products</h1>
    <div class="grid-row">

      <div class="grid-col-5of10"> 
          <div id="subsection-box">
            <img src="image/product.png" alt="product image">
          </div>
          <div id="subsection-box">
          <h3 class="section-header">Product 1</h3>
          <h3 class="price-header">$1,999.99</h3>
          </div>          
          <a class="button-submit" href="#">ADD TO CART</a>
      </div>

      <div class="grid-col-5of10"> 
          <div id="subsection-box">
            <img src="image/product.png" alt="product image">
          </div>
          <div id="subsection-box">
          <h3 class="section-header">Product 2</h3>
          <h3 class="price-header">$1,399.99</h3>
          </div>          
          <a class="button-submit" href="#">ADD TO CART</a>
      </div>

      <div class="grid-col-5of10"> 
          <div id="subsection-box">
            <img src="image/product.png" alt="product image">
          </div>
          <div id="subsection-box">
          <h3 class="section-header">Product 3</h3>
          <h3 class="price-header">$2,599.99</h3>
          </div>          
          <a class="button-submit" href="#">ADD TO CART</a>
      </div> 

           

    </div> 

  </body>
</html>
